/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bulma";

 /* Mixins, Variables, Etc. */
$twitter-blue:         #00ACED;
$linkedin-blue:        #0077B5;
$github-blue:          #4078C0;
$angellist-black:      #000000;
$stackoverflow-orange: #F48024;

.fa-heart { color: crimson; }

.fa-minus { 
  padding: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.fa-twitter,
.fa-linkedin,
.fa-github,
.fa-angellist,
.fa-stack-overflow {
  padding: 0.6em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;  
}

.fa-twitter:hover { color: $twitter-blue; }
.fa-linkedin:hover { color: $linkedin-blue; }
.fa-github:hover { color: $github-blue; }
.fa-angellist:hover { color: $angellist-black; }
.fa-stack-overflow:hover { color: $stackoverflow-orange; }