<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            Task Planify
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>            
            <span class="navbar-item">
              <a class="button is-dark is-inverted">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Welcome to Task Planify!
      </h1>
      <h2 class="subtitle">
        A Ruby on Rails Task Planning Application
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Developed</strong> with <span class="icon"><i class="red fas fa-heart"></i></span>
          by Tim Fleming</a> | <a href="https://twitter.com/TeeFlem"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/tim-fleming-full-stack-software-developer-30a83b24/">
          <i class="fab fa-linkedin"></i></a><a href="https://github.com/tflem"><i class="fab fa-github"></i></a>
          | Task Planify &copy; 2018
       </p>
      </div>
    </div>
    </nav>
  </div>
</section>